#yell-logo {
    width: 120px;
}

.navbar {
    color: white;
}

#register {
    float: right;
}

#search {
    position: relative;
    top: 80px;
    height: 605px;
    background-image: url("../img/spartan.jpg");
    background-size: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
}

.search_spartan {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 25%;
    right: 0%;
    z-index: 5;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.input-group {
    padding: 2%;
    width: 50%;
    position: absolute;
    left: 25%;
}

.why_search {
    color:white !important;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 0%;
    z-index: 5;
    width: 100%;
    text-align: center;
}

#why_header {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 20%;
    left: 40%;
    z-index: 5;
    width: 50%;
    text-align: center;
}

.nav-item {
    display: block;
    height: 150px;
    text-align: center;
}

.fa-crosshairs {
    font-size: 60px;
    color: #28a745;
}

.fa-gamepad {
    font-size: 60px;
    color: #28a745;
}

.fa-trophy {
    font-size: 60px;
    color: #28a745;
}

.fa-comments {
    font-size: 60px;
    color: #28a745;
}

.fa-calendar-check {
    font-size: 60px;
    color: #28a745;
}

.thing {
    background: #17a2b8;
    position: absolute;
    top: 73%;
    width: 101%;
    height: 185px;
    opacity: 0.4;
}

#agenda_jugador {
    position: relative;
    top: 80px;
    height: 400px;
    overflow: hidden;
    background: #343a40!important;
}