#yell-logo {
    width: 120px;
}

.navbar {
    color: white;
}

#register {
    float: right;
}

#search {
    position: relative;
    top: 80px;
    height: 605px;
    background-image: url("../img/spartan.jpg");
    background-size: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
}

.search_spartan {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 25%;
    right: 0%;
    z-index: 5;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#busqueda {
    padding: 2%;
    width: 50%;
    position: absolute;
    left: 25%;
}

.why_search {
    color:white !important;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 0%;
    z-index: 5;
    width: 100%;
    text-align: center;
}

#why_header {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 20%;
    left: 40%;
    z-index: 5;
    width: 50%;
    text-align: center;
}

.nav-item {
    display: block;
    height: 100px;
    text-align: center;
    border-right: solid 1px #28a745;
    line-height: 1;
}

.fa-crosshairs {
    font-size: 60px;
    color: #28a745;
}

.fa-gamepad {
    font-size: 60px;
    color: #28a745;
}

.fa-trophy {
    font-size: 60px;
    color: #28a745;
}

.fa-comments {
    font-size: 60px;
    color: #28a745;
}

.fa-calendar-check {
    font-size: 60px;
    color: #28a745;
}

.thing {
    background: #17a2b8;
    position: absolute;
    top: 73%;
    width: 101%;
    height: 185px;
    opacity: 0.4;
}

#agenda_jugador {
    position: relative;
    top: 80px;
    height: 380px;
    overflow: hidden;
    background: white!important;
    color:  #343a40;
}

#container_agenda {
    padding-top: 3%;
}

#hrs {
    width: 37%;
    padding-top: 2%;
}

#rango_uno {
    width: 40%;
    float: left;
}

#rango_dos {
    width: 40%;
    float: right;
}

#final {
    float: right;
}

#dias {
    position: absolute;
    left: 11.5%;
    bottom: 20%;
}

#halo_map {
    position: absolute;
    right: 0%;
    top: 4%;
    height: 360px;

    object-fit: cover;
    filter: contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
}

#halo_map:hover img {
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

#halo_map:hover img, #halo_map:hover {
    margin-top: 0;
}

#agendar {
    float: right;
    position: absolute;
    left: 41.4%;
    bottom: 7%;
}

#competitive_search {
    position: relative;
    top: 80px;
    height: 223px;
    overflow: hidden;
    background: #343a40!important;
    color: white;
}

#competitive_section {
    padding-top: 2%;
    position: absolute;
    left: 28%;
}

#competitive {
    padding-top: 2%;
    width: 50%;
}

#competir {
    position: absolute;
    left: 34%;
}

#spartan_one {
    position: absolute;
    top: 0%;
    right: 22%;
    height: 224px;
}

#spartan_two {
    position: absolute;
    top: 0%;
    right: 112%;
    height: 224px;
}

#social_proof {
    position: relative;
    top: 80px;
    height: 305px;
}

#social_section {
    padding-top: 2%;
    text-align: center;
}

#carouselExampleIndicators {
    background: #17a2b8;
    height: 200px;
}

#register_gamer {
    position: relative;
    top: 80px;
    height: 200px;
}

#footer {
    position: relative;
    top: 80px;
    height: 100px;
    background-color: #343a40!important;
}